@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #f9c74f;
  --color-secondary: #9d4edd;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.App {
  text-align: center;
  padding: 4em 0;
}

.chart .title {
  left: 0;
  right: 0;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
}

.form-input {
  @apply mt-1 block w-full py-2 px-3 border-gray-200 bg-white rounded-md focus:outline-none focus:ring-indigo-500 sm:text-sm;
}
